<!-- <web-app> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="3.0">

  <display-name>Resteasy demo</display-name>
  
  
  	<!-- scan for restful resources automatically -->
  	<context-param>
      <param-name>resteasy.scan</param-name>
      <param-value>true</param-value>
    </context-param>		

  	
  	<!-- use the Resteasy specific servlet dispatche -->
    <servlet>
      <servlet-name>Resteasy</servlet-name>
      <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>      
    </servlet>
  
    <servlet-mapping>
      <servlet-name>Resteasy</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>
         
</web-app>